
.center {
  text-align: center !important;
}
.leftside {
  float: left !important;
}
.rightside {
  float: right !important;
}

.tools .leftside {
  padding: 25px 25px 0;
}




/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/


/* 1.1 Reset
------------------------------------------------------------------------------*/

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
a, ins, del { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { vertical-align: top; }
th { text-align: left; }

/* 1.2 HTML5 Elements
------------------------------------------------------------------------------*/

article, aside, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* 1.3 Accessibility Navigation & Hide
------------------------------------------------------------------------------*/

#accessibility-nav, .hide { position: absolute; top: -999em; left: -999em; height: 1px; width: 1px; }

/* 1.4 Clear floated elements
------------------------------------------------------------------------------*/

.cleaner { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clear { clear: both; }
.clearfix:after, #footer:after, #footer p:after, .items:after, .banner:after, .cols:after, .col:after,
.lector:after, .breadcrumbs:after, .card:after, .certificates:after, .package ul:after, .sidebar-box:after
{ clear: both; content: '&nbsp;'; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
#accessibility-nav, .hide { position: absolute; top: -999em; left: -999em; height: 1px; width: 1px; }

/* 1.5 Default styles
------------------------------------------------------------------------------*/
* { -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font: 13px/1.6 Verdana, Arial, Helvetica, sans-serif; background: #fff; color: #333; }
img { max-width: 100%; height: auto; }
hr { display: none; }
strong { font-weight: bold; }
em { font-style: italic; }
del { text-decoration: line-through; }
th { font-weight: normal; }
address, cite, dfn { font-style: normal; }
li { list-style: none; }
abbr, acronym { border-bottom: 1px dotted #999; cursor: help; }
input, textarea, select { font-family: Arial, Helvetica, sans-serif; }
select { margin: 0; padding: 8px 5px; border: 0; font-size: 14px;
border-radius: 5px; }
a, a:visited { color: #587EBF; text-decoration: underline; transition: all .15s linear; }
a:hover, a:active { color: #587EBF; text-decoration: none; }
h1,
h2,
h3 { margin: 0 0 20px; color: #587EBF; }
h1 { font: bold 60px/1.2 DINOT, Arial, sans-serif; line-height: 1em; margin: 0 0 35px;}
h2 { padding-top: 20px; font: normal 24px DINOTMedium, Arial, sans-serif; }
h2.border { background: url(../gfx/border_h2.png) 0 44px repeat-x; }
h2.border span { padding: 0 13px 0 0; background: #fff; }
h3 { font-size: 16px; }
p, .p { margin: 0 0 20px; }
.perex { font-weight: bold; }
blockquote { font-style: italic; }
ul,
ol { margin: 0 0 20px; }
ul li { padding: 5px 0 5px 30px; background: url(../gfx/bullet_1.png) 20px 13px no-repeat; }
ol li { list-style: decimal inside; padding: 5px 0; }
dt { font-weight: bold; }
dd { margin: 0 0 10px; }
table { margin: 0 0 20px; }
table.order-table { width: 100%; }
th,
td { vertical-align: middle; padding: 8px 5px; border: 1px solid #fff; text-align: center; }
th { font-weight: bold; }
thead td:first-child { border-radius: 5px 0 0 0; behavior: url(/js/pie.htc); }
thead td:last-child { border-radius: 0 5px 0 0; behavior: url(/js/pie.htc); }
table tr:last-child td:first-child { border-radius: 0 0 0 5px; behavior: url(/js/pie.htc); }
table tr:last-child td:last-child { border-radius: 0 0 5px 0; behavior: url(/js/pie.htc); }
thead th,
thead td { font-weight: bold; background: #dbdadf; }
tbody th,
tbody td { background: #f4f3f8; }
tbody tr:hover th,
tbody tr:hover td { background: #e9e8ed; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.text-field:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.6);
	box-shadow: 0 0 8px rgba(0,0,0,0.6);
}


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

/* 2.1 Container
------------------------------------------------------------------------------*/

.container { max-width: 1100px; position: relative; margin: 0 auto; padding: 0 1em; }


/* 2.2 Header
------------------------------------------------------------------------------*/

#header { z-index: 10; position: relative; max-width: 1100px; margin: 0 auto; padding: 0 1em; }
#header .site-name { position: relative; top: 15px; display: block; overflow: hidden; width: 120px; height: 58px; background: url(../gfx/logo.png) no-repeat; }
#header .site-name a { display: block; width: 100%; height: 100%; text-decoration: none; }
#header a.site-name { text-decoration: none; }
#header .site-name span { visibility: hidden; }
#header p { position: absolute; right: 1em; top: 36px; font: 18px/22px DINOT, Arial, sans-serif; }
#header p span { display: inline-block; padding-left: 40px; }
#header p span a { text-decoration: none; color: #333; }
#header p span a:hover { text-decoration: underline; }
#header
#header

.top { margin: 0 0 20px; background: #dbdadf url(../gfx/bg_top.jpg) center top no-repeat; }
.top-inner { position: relative; max-width: 1100px; margin: 0 auto; padding: 45px 1em 20px; }



/* 2.3 Navigation
------------------------------------------------------------------------------*/

#navigation { position: relative; margin: 0 auto -30px; font: 14px/54px Dinot, Arial, sans-serif;
background: #333; border-radius: 5px; behavior: url(/js/pie.htc); }
#navigation ul { width: 100%; display: table; margin: 0; }
#navigation ul li { display: table-cell; padding: 0; background: none; }
#navigation ul li a { display: block; padding: 0 5px; text-align: center; text-transform: uppercase; text-decoration: none;
background: url(../gfx/bg_navigation.png) right center no-repeat; color: #fff; }
#navigation ul li.active a { background: #b80718; }
#navigation ul li a:hover { background: #666; }
#navigation ul li:first-child a:hover,
#navigation ul li:first-child.active a { border-radius: 5px 0 0 5px; }
#navigation ul li:last-child a:hover,
#navigation ul li:last-child.active a { border-radius: 0 5px 5px 0; }

/* 2.4 Content
------------------------------------------------------------------------------*/

#content { position: relative; }
.full-content { }
.content { float: left; width: 70%; }





/* 2.6 Footer
------------------------------------------------------------------------------*/

#footer { clear: both; padding: 40px 0; border-top: 1px dashed #c9c9c9; font-size: 12px; }
#footer p { float: right; margin: 0; }
#footer p span { float: left; }
#footer p a { float: right; width: 96px; height: 38px; margin: 0 0 0 11px; overflow: hidden; text-decoration: none;
background: url(../gfx/logo-footer.png) no-repeat; }
#footer p a span { visibility: hidden; }



/* Buttons */
.btn { display: inline-block; height: 44px; margin: 0; padding: 0 16px; border: 0;
font: normal 16px/44px Verdana, Arial, sans-serif; text-decoration: none;
background: #6BC7F1; color: #fff !important; cursor: pointer; border-radius: 5px; behavior: url(/js/pie.htc);
transition: all .20s linear; }
.btn.btn-small { height: 24px; padding: 0 9px; font: 500 12px/24px Verdana, Arial, sans-serif; }
.btn::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; margin: 0; }
.btn:hover { background-color: #666; color: #fff; }
.btn.btn-arr-right { padding-right: 26px; background-image: url(../gfx/bullet_arr-right.png);
background-position: right center; background-repeat: no-repeat; }
