<section id="content" class="content">
         <div>
            <h1>Clicks and Submits</h1>
            
            <p>Co takhle pár tlačítek a odkazů? Nebo formulář?</p>

            <buton class="btn" id="kocicka">Button s id kocicka</buton><br><br>

            <a href="/ahoj">Prostý odkaz</a> | <a href="/ahoj"><strong>Složený</strong> odkaz</a> | <a href="/ahoj" class="door">Odkaz s třídou door</a>

            <p></p>

            <form action="clicks.html" method="post" id="formular">
              <input class="btn" id="submit" type="submit" name="submit" value="Odeslat formulář id submit">
            </form>



            <p></p>
     </div>
    </section>