<section id="content" class="content">
         <div>
            <h1>Clicks and Submits</h1>
            
            <p>Co takhle pár tlačítek a odkazů? Nebo formulář?</p>

            <buton class="btn" onclick="dataLayer.push({'event':'test3'});">Tlačítko</buton><br><br>

            <a href="./">Prostý odkaz</a> | 
            <a href="./"><strong>Složený</strong> odkaz</a> | 
            <a href="https://gtm.technalytik.cz" target="_blank">Poslední odkaz</a>

            <p></p>

            <form action="./" method="post" id="formular">
              <label for="donut">Chci koblihu:</label> <input type="checkbox" name="donut"><input type="hidden" name="sign" value="Bureš">

              <input class="btn" id="submit" type="submit" name="submit" value="Odeslat formulář">
            </form>



            <p></p>
     </div>
    </section>