<section id="content" class="content">
         <div>
            <h1>Events</h1>
            
            <p>Změříme událost na stisk tohodle tlačítka!</p>

            <button class="btn" onclick="dataLayer.push({'event':'ga.event','eventCategory':'Button','eventAction': 'Click','eventLabel': undefined});">Class btn</button>
            <button class="btn" id="kocicka" onclick="dataLayer.push({'event':'ga.event','eventCategory':'Button','eventAction': 'Click','eventLabel':'Kočička'});">Class btn a Id kocicka</button>
            <p></p>
     </div>
    </section>