<section id="content" class="content">
         <div>
            <h1>Events</h1>
            
            <p>Změříme událost na stisk těchto tlačítek!</p>

            <button class="btn" onclick="dataLayer.push({'event':'generic', 'eventCategory':'Button','eventAction':'Click'});">Tlačítko</button>
            <button class="btn" id="right" onclick="dataLayer.push({'event':'generic', 'eventCategory':'Button','eventAction':'Click', 'eventLabel': 'Right'});">Pravé tlačítko</button>
            <p></p>
     </div>
    </section>