<section id="content" class="content">
         <div>
            <h1>History, Timer and Error</h1>
            
            <a href="/#/history/0" class="btn">Záložka 0</a> | <a href="/#/history/1" class="btn">Záložka 1</a>

            <div ng-if="!show" id="jednicka">Kvalitní obsah na záložce nula</div>
            <div ng-if="show" id="dvojka">Ale co obsah na záložce jedna?</div>

            <div id="timer"></div>

            <p></p>

            <button class="btn" onclick="abc.push();">Error button</button>
     </div>
    </section>