<section id="content" class="content">
         <div>
            <h1>Doporučené nástroje</h1>

            <p>Seznam nástrojů pro efektivnější práci s <strong>Google Tag Managerem</strong>.</p>
          
            
            <div class="tools">
              <img class="leftside" src="files/chrome.png" width="150" height="150">
              <h2>Google Chrome Browser</h2>
              <p>
                Webový prohlížeč. Jeho důvodem je kompatibilita s dalšími pluginy.<br>
                <a href="http://bit.ly/GoogleChromeBrowser">http://bit.ly/GoogleChromeBrowser</a>
              </p>
              <div class="clear"></div>
            </div>

            <div class="tools">
              <img class="leftside" src="files/ghostery.jpg" width="150" height="150">
              <h2>Ghostery</h2>
              <p>
                Plugin pro základní monitorování spuštěných kódů.<br>
                <a href="http://bit.ly/ghosteryplugin">http://bit.ly/ghosteryplugin</a>
              </p>
              <div class="clear"></div>
            </div>

            <!--<div class="tools">
              <img class="leftside" src="files/googletagassistant.jpg" width="150" height="150">
              <h2>Google Tag Assistant</h2>
              <p>
                Plugin pro základní monitorování spuštěných kódů.<br>
                <a href="http://bit.ly/GoogleTagAssistant">http://bit.ly/GoogleTagAssistant</a>
              </p>
              <div class="clear"></div>
            </div>-->

            <!--<div class="tools">
              <img class="leftside" src="files/codeeditor.png" width="150" height="150">
              <h2>Code Editor for GTM</h2>
              <p>
                Plugin pro obarvení syntaxe v Custom HTML a Custom JS proměnné.<br>
                <a href="http://bit.ly/gtmcode">http://bit.ly/gtmCode</a>
              </p>
              <div class="clear"></div>
            </div>-->

            <div class="tools">
              <img class="leftside" src="files/wasp.png" width="150" height="150">
              <h2>WASP.inspector - Web Analytics Solution Profiler</h2>
              <p>
                Plugin pro zobrazování a parsování měřících knihoven a kódů a jejich závislostí na základě HTTP hlaviček.<br>
                <a href="http://bit.ly/pluginwasp">http://bit.ly/pluginwasp</a>
              </p>
              <div class="clear"></div>
            </div>

            <div class="tools">
              <img class="leftside" src="files/dataslayer.png" width="150" height="150">
              <h2>dataSlayer</h2>
              <p>
                Plugin pro zacyhtávání HTTP hlaviček.<br>
                <a href="http://bit.ly/gtmdataslayer">http://bit.ly/gtmdataslayer</a>
              </p>
              <div class="clear"></div>
            </div>

            <div class="tools">
              <img class="leftside" src="files/chrome_developer.jpg" width="150" height="150">
              <h2>Chrome Developer Tools</h2>
              <p>
                Nástroj pro vývojáře zabudované v prohlížeči.<br>
                Stiskněte klávesu <strong>F12</strong> nebo kombinaci kláves <strong>Ctrl + Shift + J</strong>.
              </p>
              <div class="clear"></div>
            </div>

            <!--<div class="tools">
              <img class="leftside" src="files/gtmsonar.png" width="150" height="150">
              <h2>GTM Sonar</h2>
              <p>
                Plugin pro vypnutí jQuery listenerů a sledování GTM auto-eventů.<br>
                <a href="http://bit.ly/gtmsonarplugin">http://bit.ly/gtmsonarplugin</a>
              </p>
              <div class="clear"></div>
            </div>-->

            <p></p>
     </div>
    </section>